/* Burger menu container */
.menu-burger {
  position: fixed;
  top: 20px;
  left: 20px;
  padding: 10px;
}

/* Burger menu icon */
.burger-icon {
  display: fixed;
  width: 30px;
  height: 20px;
  cursor: pointer;
  color: rgb(255, 0, 0);
  background-color: white;
  border: 4px;
  border-color: #000;
  z-index: 1;
}

/* Burger menu items */
.burger-items {
  display: flex;
  flex-direction: column;
  padding-top: 40px;
  flex-wrap: wrap;
  font-size: 20px;
  text-align: center;
  list-style: none;
  transition: all 0.3s ease 0s;
}

/* Remove link styling */
a {
  text-decoration: none;
  color: inherit;
}
/* A blue background for the menu-content */
.burger-bg {
  background-color: #000;
  color: #fff;
  position: fixed;
  height: 100%;
  width: 20%;
  top: 0;
  left: 0;
  z-index: 0; 
}
